<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1 align="center">LOGIN</h1>
<form id="form1" name="form1" method="post" action="">
  <table width="317" height="163" align="center">
    <tr>
      <td width="98">USERNAME</td>
      <td width="86"><input type="text" name="textfield" id="textfield2" /></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><input type="text" name="textfield2" id="textfield" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="LOGIN" /></td>
    </tr>
  </table>
</form>
</body>
</html>
