{% extends "public/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
{#  <table  border="1">#}
{#  <tr>#}
{#    <td>AREA NAME</td>#}
{#    <td><input type="text" name="textfield" id="textfield" /></td>#}
{#    <td><input type="submit" name="button" id="button" value="SEARCH" /></td>#}
{#  </tr>#}
{#</table>#}
{#  <p>&nbsp;</p>#}
{#  <table width="200" border="1">#}
{#       {% for i in res %}#}
{#    <tr>#}
{#      <td colspan="2">&nbsp;<img src="{{ i.images }}" alt="img" height="70" width="70"/>#}
{#      </td>#}
{#    </tr>#}
{#      <tr>#}
{#          <td>TYPENAME:</td><td>{{ i.media_type_name }}</td>#}
{#      </tr>#}
{#      <tr>#}
{#          <td>DESCRIPTION:</td><td>{{ i.description }}</td>#}
{#    </tr>#}
{#      {% endfor %}#}
{#  </table>#}
{#  <p>&nbsp;</p>#}
{#<h1 align="center">MEDIA TYPES</h1>#}
<h1 data-aos="fade-up" data-aos-delay="300" id="lgg" align="center">MEDIA PROVIDERS</h1>
<div class="container" align="center" style="background-color: #000b16">
{#    <div class="row">#}
{#    <div class="column" align="center">#}
    {% for i in res %}
        <br>
    <div class="container" align="center" style="background-color: #000b16">
{#  <p>Image at the top (card-img-top):</p>#}
  <div class="card" style="width:300px">
    <img class="card-img-top" src="{{ i.image }}" alt="Card image" style="width:100%">
    <div class="card-body">

      <h5 class="card-title">{{ i.MEDIATYPE.media_type_name }}</h5>
      <h5 class="card-title">{{ i.provider_name }}</h5>
      <h5 class="card-text">{{ i.place }}<br>{{ i.city }}<br/><br>{{ i.district }}<br/><br>{{ i.pincode }}<br/></h5>
      <h5 class="card-text">{{ i.email }}</h5>
      <h5 class="card-text">{{ i.phno }}</h5>
{#      <a href="#" class="btn btn-primary">See Profile</a>#}
    </div>
  </div>

        </div>
        </div>
{#         <div class="col-sm-4">#}
{#          <table>#}
{#              <tr><td colspan="2"><h3>{{i.media_type_name}}</h3></td></tr>#}
{#              <tr>#}
{#                  <td colspan="2">#}
{#              <img class="embed-responsive-item" src="{{i.images}}" width="250" height="250"></img></td>#}
{#               <tr><td colspan="2"><p>{{i.description}}</p></td></tr>#}
{##}
{#              <tr>#}
{#                  <td><div align="left"><a href="yoga_delete_videos/{{i.id}}" class="btn btn-danger">Delete</a></div> </td>#}
{#                  <td><div align="right"><h6><a href="yoga_view_comment/{{i.id}}">comment</a></h6></div></td>#}
{#              </tr>#}
{#          </table>#}
{#      </div>#}
        <br/>
        {% endfor %}
{#  </div>#}
{#</div>#}
{#</div>#}
</form>
<p>&nbsp;</p>
{% endblock %}
