{% extends "service employee/semp_index.html" %}
{% block body %}
<body>
<img src="/static/admin_temp/dist/img/Times+Square.jpg" alt="img" width="1030" height="600">
{#<form id="form1" name="form1" method="post" action="">#}
{#    <p><a href="/myapp/semp_view_profile/">View profile</a> </p>#}
{#    <p><a href="/myapp/semp_view_service_area/">View service area</a> </p>#}
{#    <p><a href="/myapp/semp_installation/">Add installation entry</a> </p>#}
{#    <p><a href="/myapp/semp_view_installation/">View installation entry</a> </p>#}
{#     <p><a href="/myapp/semp_maintance/">Add maintance entry</a> </p>#}
{#    <p><a href="/myapp/semp_view_maintance/">View maintance entry</a> </p>#}
{#    <p><a href="/myapp/semp_expense_mngt/">Add expense</a> </p>#}
{#    <p><a href="/myapp/semp_view_expense/">View expense</a> </p>#}
{#</form>#}
</body>
{% endblock %}