{% extends "service employee/semp_index.html" %}
{% block body %}
<h2 align="center">VIEW MAINTENANCE ENTRY</h2>
<form id="form1" name="form1" method="post" action="\myapp\semp_view_maintance_post\">
<table class="table table-hover">
    <tr>
      <th width="100"><label>AREA NAME</label>&nbsp;</th>
      <td width="150"><select name="select" id="select" class="form-control">
           {% for i in res1 %}
              <option value="{{ i.SERVICEAREA.pk }}">{{ i.SERVICEAREA.area_name }}</option>
           {% endfor %}
      </select></td>
      <td width="80"><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-primary" /></td>
      <th width="150"><label>FROM DATE</label>&nbsp;</th>
      <td width="58"><input type="date" name="fdate" class="form-control"/></td>
      <th width="50"><label>TO</label>&nbsp;</th>
      <td width="50"><input type="date" name="tdate" class="form-control"/></td>
      <td width="33"><input type="submit" name="button" id="button2" value="GO" class="btn btn-primary"/></td>
    </tr>
  </table>
<table class="table table-hover" style="width: 1000px" align="center">
  <tr>
    <th>SNO</th>
    <th>AREA NAME</th>
    <th>PLACE NAME</th>
    <th>INSTALLATION CODE</th>
    <th>MAINTANCE</th>
    <th>AMOUNT</th>
    <td>&nbsp;</td>
  </tr>
    {% for i in res %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.SERVICEAREA.area_name }}</td>
    <td>{{ i.INSTALLATION.placename }}</td>
    <td>{{ i.INSTALLATION.code }}</td>
    <td>{{ i.maintance }}</td>
    <td>&nbsp;{{ i.amount }}</td>
    <td><a href="\myapp/semp_view_maintance_del\{{ i.pk }}" class="btn btn-danger">DELETE</a></td>
  </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</form>
{% endblock %}
