{% extends "service employee/blank.html" %}
{% block body %}
<h2 align="center">VIEW MAINTANCE ENTRY</h2>
<form id="form1" name="form1" method="post" action="">
<table width="563" border="0" align="center">
    <tr>
      <th width="150"><label>AREA NAME</label>&nbsp;</th>
      <td width="51"><select name="select" id="select">
      </select></td>
      <td width="80"><input type="submit" name="button" id="button" value="SEARCH" /></td>
      <th width="150"><label>FROM DATE</label>&nbsp;</th>
      <td width="58"><select name="select2" id="select2">
      </select></td>
      <th width="50"><label>TO</label>&nbsp;</th>
      <td width="50"><select name="select3" id="select3">
      </select></td>
      <td width="33"><input type="submit" name="button2" id="button2" value="GO" /></td>
    </tr>
  </table>
<table  border="1" align="center">
  <tr>
    <th>SNO</th>
    <th>AREA NAME</th>
    <th>PLACE NAME</th>
    <th>INSTALLATION CODE</th>
    <th>MAINTANCE</th>
    <th>AMOUNT</th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">DELETE</a></td>
  </tr>
</table>
<p>&nbsp;</p>
</form>
{% endblock %}
