{% extends "service employee/semp_index.html" %}
{% block body %}
<h2 align="center">VIEW EXPENSE</h2>
<form id="form1" name="form1" method="post" action="/myapp/semp_view_expense_post/">
  <table class="table table-hover">
    <tr>
      <th><label>DATE FROM</label>&nbsp;</th>
      <td><input type="date" name="fdate" class="form-control" required/></td>
      <th><label>TO</label>&nbsp;</th>
      <td><input type="date" name="tdate" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-primary"/></td>
    </tr>
  </table>
  <table class="table table-hover" style="width: 1000px" align="center">
    <tr>
      <th>SNO</th>
      <th>AREA NAME</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>DATE</th>
    </tr>
      {% for i in res %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{i.EMPLOYEEAREA.SERVICEAREA.area_name}}</td>
      <td>{{ i.title }}</td>
      <td>&nbsp;{{ i.description }}</td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;{{ i.date }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
{% endblock %}
