{% extends "service employee/blank.html" %}
{% block body %}
<h2 align="center">VIEW EXPENSE</h2>
<form id="form1" name="form1" method="post" action="">
  <table width="280" border="0" align="center">
    <tr>
      <th width="50"><label>DATE</label>&nbsp;</th>
      <td width="42"><select name="select" id="select">
      </select></td>
      <th width="35"><label>TO</label>&nbsp;</th>
      <td width="56"><select name="select2" id="select2">
      </select></td>
      <td width="63"><input type="submit" name="button" id="button" value="SEARCH" /></td>
    </tr>
  </table>
  <table width="200" border="1" align="center">
    <tr>
      <th>SNO</th>
      <th>TITLE</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>DATE</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
{% endblock %}
