{% extends "service employee/blank.html" %}
{% block body %}
<h2 align="center">VIEW SERVICE AREA ALLOCATED</h2>
<form id="form1" name="form1" method="post" action="/myapp/semp_view_service_area_post/">
  <table  class="table table-hover">
  <tr>
    <td>AREA NAME</td>
    <td><input type="text" name="textfield" id="textfield"  class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="SEARCH"  class="btn btn-primary"/></td>
  </tr>&nbsp;
</table>
  <table class="table table-bordered" style="width: 1000px" align="center">
    <tr>
      <th>SNO</th>
      <th>AREA NAME</th>
      <th>LOCALITY</th>
      <th>DISTRICT</th>
    </tr>
       {% for i in res %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>{{ i.SERVICEAREA.area_name }}</td>
      <td>&nbsp;{{ i.SERVICEAREA.area_locality }}</td>
      <td>&nbsp;{{ i.SERVICEAREA.area_district }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
