<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h2 align="center">VIEW INSTALLATION ENTRY</h2>
<form id="form1" name="form1" method="post" action="\myapp\semp_view_installation_post\">
  <table width="563" border="0" align="center">
    <tr>
      <th width="300"><label>AREA NAME</label>&nbsp;</th>
      <td width="51"><select name="select" id="select">
           {% for i in res %}
              <option value="{{ i.SERVICEAREA.pk }}">{{ i.SERVICEAREA.area_name }}</option>
          {% endfor %}
      </select></td>
      <td width="80"><input type="submit" name="button" id="button" value="SEARCH" /></td>
      <th width="300"><label>FROM DATE</label>&nbsp;</th>
      <td width="58"><input type="date" name="fdate"/>
      </td>
      <th width="50"><label>TO</label>&nbsp;</th>
      <td width="50"><input type="date" name="tdate"/></td>
      <td width="33"><input type="submit" name="button" id="button2" value="GO" /></td>
    </tr>
  </table>
  <table  border="1" align="center">
    <tr>
      <th>SNO</th>
      <th>AREA NAME</th>
      <th>DATE </th>
      <th>CODE</th>
      <th>NARRATION</th>
      <th>PLACENAME</th>
      <td>&nbsp;</td>
    </tr>
      {% for i in res %}
    <tr>
      <td>{{forloop.counter }}</td>
      <td>{{ i.SERVICEAREA.area_name }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.code }}</td>
      <td>&nbsp;{{ i.narration }}</td>
      <td>{{ i.placename }}</td>
       <td><a href="\myapp\semp_view_installation_del\{{ i.pk }}">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
  
</form>
</body>
</html>
