{% extends "admin/blank.html" %}
{% block body %}
<h2 align="center">ADD SERVICE AREA</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_service_area_post/">
  <table border="0" align="center">
    <tr>
      <td>AREA NAME</td>
      <td><input type="text" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <td>LOCALITY</td>
      <td><input type="text" name="textfield2" id="textfield2" required/></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><select name="select" id="select">
          <option value="Eranakulam">Eranakulam</option>
          <option value="Kozhikode">Kozhikode</option>
          <option valu="Kannur">Kannur</option>
          <option value="Kasarkode">Kasarkode</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>
{% endblock %}
