{% extends "admin/blank.html" %}
{% block body %}
{#<h2 align="center">STAFF</h2>#}
<form action="/myapp/adm_add_staff_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table  class="table table-hover">
    <tr>
      <th>NAME</th>
      <td><input class="form-control" type="text" name="textfield" id="textfield" required pattern="[A-Za-z]{1,32}"/></td>
    </tr>
    <tr>
      <th>GENDER</th>
      <td><input type="radio" name="radio" id="radio" value="Male" />Male
      <input type="radio" name="radio" id="radio2" value="Female" />Female</td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><input type="date" name="date" class="form-control" required>
     </td>
    </tr>
    <tr>
      <th>HOUSE NUMBER/NAME</th>
      <td><input type="text" name="textfield2" id="textfield2" required class="form-control"/></td>
    </tr>
    <tr>
      <th>DISTRICT</th>
      <td><select name="select2" id="select2" class="form-control">
          <option value="Kozhokide">Kozhokide</option>
          <option value="Eranakulam">Eranakulam</option>
          <option value="Kollam">Kollam</option>
      </select></td>
    </tr>
    <tr>
      <th>PINCODE</th>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th>EMAIL ID</th>
      <td><input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <th>PHONE NUMBER</th>
      <td><input type="text" name="textfield5" id="textfield5" class="form-control" required pattern="[A-Za-z]{1,32}"/></td>
    </tr>
    <tr>
      <th>IMAGE</th>
      <td><input type="file" name="fileField" id="fileField" class="form-control"/></td>
    </tr>
    <tr>
      <th>STAFF TYPE</th>
      <td><select name="select3" id="select3" class="form-control">
          <option value="Designer">Designer</option>
          <option value="Service employee">Service employee</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>
{% endblock %}