{% extends 'admin/admin_index.html' %}
{% block body %}

<body>
<img src="/static/admin_temp/dist/img/Times+Square.jpg" alt="img" width="1030" height="600">
{#<form id="form1" name="form1" method="post" action="">##}
{# <p><a href="/myapp/adm_view_registered_user/">View registered users</a> </p>#}
{# <p><a href="/myapp/adm_add_staff/">Add Staff</a> </p>#}
{# <p><a href="/myapp/adm_view_staff/">View Staff</a> </p>#}
{# <p><a href="/myapp/adm_service_area/">Add Service area</a></p>#}
{# <p><a href="/myapp/adm_view_service_area/">View Service area</a></p>#}
{# <p><a href="/myapp/adm_add_employee_area/">Add Service employee area allocation</a></p>#}
{# <p><a href="/myapp/adm_view_employee_area/">View Service employee area allocation</a></p>#}
{# <p><a href="/myapp/adm_media_type/">Add Media types</a></p>#}
{# <p><a href="/myapp/adm_view_media_type/">View Media types</a></p>#}
{# <p><a href="/myapp/adm_add_media_provider/">Add Media Providers</a></p>#}
{# <p><a href="/myapp/adm_view_media_provider/">View Media Providers</a></p>#}
{# <p><a href="/myapp/adm_add_charge/">Add charge profile</a></p>#}
{# <p><a href="/myapp/adm_view_charge_profile/">View charge profile</a></p>#}
{# <p><a href="/myapp/adm_view_advertisement_request_approve/">View advertisement enquiry request from users</a></p>#}
{# <p><a href="/myapp/adm_view_new_request/">Assign request to designer</a></p>#}
{#    <p><a href="/myapp/adm_view_rejected_request/">View rejected request</a></p>#}
{# <p><a href="/myapp/adm_monthly_settlement/">Add Media provider monthly settlement entry</a></p>#}
{# <p><a href="/myapp/adm_view_monthly_settlement/">View Media provider monthly settlement entry</a></p>#}
{# <p><a href="/myapp/adm_request_from_public_for_media_provider/">View request from public for being a media provider</a></p>#}
{# <p><a href="/myapp/adm_view_installation/">View installation report</a></p>#}
{# <p><a href="/myapp/adm_view_maintance/">View maintance report</a></p>#}
{# <p><a href="/myapp/adm_view_expense/">View expense report</a></p>#}
{# <p><a href="/myapp/adm_view_complaint/">View complaint and Sent reply</a></p>#}
{# <p><a href="/myapp/adm_view_feedback/">View feedbacks/reviews</a></p>#}
{##}
{##}
{#</form>#}
</body>
{% endblock %}
