{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>NAME</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" /></td>
    </tr>
  </table>
  <table  border="1">
    <tr>
      <td>SNO</td>
      <td>NAME</td>
      <td>EMAILID</td>
      <td>PHONE NUMBER</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="/myapp/adm_view_registered_user_more">VIEW</a></td>
    </tr>
  </table>
 
</form>
<p>&nbsp;</p>
{% endblock %}
