{% extends "admin/admin_index.html" %}
{% block body %}
 <h2 align="center">VIEW INSTALLATION</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_installation_post/">
  <table class="table table-hover">
    <tr>
      <th width="90"><label>AREA NAME</label>&nbsp;</th>
      <td width="300"><select name="select" id="select" class="form-control">
            {% for i in res1 %}
              <option value="{{ i.pk }}">{{ i.area_name }}</option>
          {% endfor %}
      </select></td>
      <td width="80"><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-primary" /></td>
      <th width="90"><label>FROM DATE</label>&nbsp;</th>
      <th width="50"><td width="58"><input type="date" name="fdate"  id="fromdate" value="{{d1}}" class="form-control"/>
      </td></th>
      <th width="29"><label>TO</label>&nbsp;</th>
      <td width="50"><td width="58"><input type="date" name="tdate"  id="todate" value="{{ d2 }}" class="form-control"/>
      </td></td>
      <th width="33"><input type="submit" name="button" id="button2" value="GO" class="btn btn-primary"/></th>
    </tr>
  </table>
  <table  class="table table-hover" style="width: 1000px" align="center">
    <tr>
      <th>SNO</th>
      <th>AREA NAME</th>
      <th>DATE </th>
      <th>CODE</th>
      <th>NARRATION</th>
      <th>PLACENAME</th>
      </tr>
      {% for i in res %}
    <tr>
      <td>{{forloop.counter }}</td>
      <td>{{ i.SERVICEAREA.area_name }}</td>
      <td>&nbsp;{{ i.date | date:'d-m-Y'}}</td>
      <td>{{ i.code }}</td>
      <td>{{ i.narration }}</td>
      <td>{{ i.placename }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
  
</form>

     <script>

        var today = new Date();
var current_date = today.getDate();
var current_month = today.getMonth()+1; //Month starts from 0
var current_year = today.getFullYear();
 if(current_date < 10){
        current_date='0'+current_date
    }
    if(current_month < 10){
        current_month='0'+current_month
    }
var im=current_year+"-"+current_month+"-"+current_date;
document.getElementById("todate").setAttribute("max", im);
document.getElementById("fromdate").setAttribute("max", im);
</script>
{% endblock %}