{% extends "admin/admin_index.html" %}
{% block body %}
    <h2 align="center">VIEW REGISTERED USERS</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_registered_user_post/">
  <table class="table table-hover">
    <tr>
      <th>NAME</th>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
      <td><input type="submit" name="button" id="button" value="SEARCH"  class="btn btn-primary"/></td>
    </tr>
  </table>
  <table class="table table-hover" style="width: 1000px" align="center">
    <tr>
      <th>SNO</th>
      <th>IMAGE</th>
      <th>USER INFO</th>
      <th>ADDRESS</th>
      <th>CONTACT INFO</th>

    </tr>
      {% for i in res %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.image }}" alt="img" height="100" width="100"/></td>
        <td>&nbsp;{{ i.name }}<br>{{ i.gender }}<br/><br>{{ i.dob |date:'d-m-Y' }}<br/></td>
        <td>{{ i.houseno_name }}<br>{{ i.district }}<br/><br>{{ i.pincode }}<br/></td>
      <td>{{ i.email }}<br>{{ i.phno }}<br/></td>
{#      <td><a href="/myapp/adm_view_registered_user_more">VIEW</a></td>#}
    </tr>
      {% endfor %}
  </table>
 
</form>
<p>&nbsp;</p>
{% endblock %}
