{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<table width="244" border="1">
    <tr>
      <td width="105"><label>FROM</label>&nbsp;
        <select name="select" id="select">
      </select></td>
      <td width="72"><label>TO
        <select name="select2" id="select2">
        </select>
      </label>        &nbsp;</td>
      <td width="45"><input type="submit" name="button" id="button" value="GO" /></td>
    </tr>
  </table>
  <table width="200" border="1">
    <tr>
      <td>SNO</td>
      <td>FILENAME</td>
      <td>USERINFO</td>
      <td>ADDRESS</td>
      <td>PHONE NUMBER</td>
      <td>CONTENT</td>
      <td>DATE</td>
      <td>STATUS</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">MORE</a></td>
    </tr>
  </table>
</form>
{% endblock %}
