{% extends "admin/admin_index.html" %}
{% block body %}
    <h2 align="center">REJECTED ADVERTISEMENT REQUEST DETAILS</h2>
<form id="form1" name="form1" method="post" action="">
    <table  class="table table-hover" style="width: 600px" align="center">
    <input type="hidden" name="hi" value="{{ data3 }}">
    <tr align="center" style="color: #f6f7f8" bgcolor="black">
      <th colspan="2">CUSTOMER INFO</th>
    </tr>
       <tr>
{#      <td>IM</td>#}
      <td colspan="2" align="center">&nbsp;<img src="{{ data.USER.image }}" width="200" height="200" /></td>
    </tr>
    <tr>
      <th>NAME</th>
      <td>&nbsp;{{ data.USER.name }}</td>
    </tr>
       <tr>
      <th>GENDER</th>
      <td>&nbsp;{{ data.USER.gender }}</td>
    </tr>
       <tr>
      <th>DOB</th>
      <td>&nbsp;{{ data.USER.dob }}</td>
    </tr>
    <tr>
      <th>ADDRESS</th>
      <td>{{ data.USER.houseno_name }}<br>{{ data.USER.district }}<br/><br>{{ data.USER.pincode }}</td>
    </tr>
    <tr>
      <th>PHONE NUMBER</th>
      <td>&nbsp;{{ data.USER.phno }}</td>
    </tr>
    <tr>
      <th>EMAILID</th>
      <td>&nbsp;{{ data.USER.email }}</td>
    </tr>
    <tr align="center" style="color: #f6f7f8" bgcolor="black">
      <th colspan="2">CONTENT REQUEST INFO</th>
    </tr>
    <tr>
      <th>CONTENT</th>
      <td>{{ data.content }}</td>
    </tr>
    <tr>
      <th>DATE</th>
      <td>&nbsp;{{ data.date| date:'d-m-Y' }}</td>
    </tr>
      <tr>
      <th>STATUS</th>
      <td style="color: #E83737; font-family: 'Open Sans', sans-serif; font-weight: 800">{{ data.status }}&nbsp;</td>
    </tr>
    <tr>
      <th>CONTENT FILE</th>
      <td><input type="submit" name="btn" id="button" value="DOWNLOAD" class="btn btn-dark" /></td>
    </tr>
  </table>
</form>
{% endblock %}
