{% extends "admin/admin_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table border="1">
    <tr>
      <td>SNO</td>
      <td>IMAGE</td>
      <td>NAME</td>
      <td>EMAILID</td>
      <td>PHONE NUMBER</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><img src="" width="50" height="50" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">ASSIGN</a></td>
    </tr>
  </table>
</form>
{% endblock %}
