{% extends "admin/blank.html" %}
{% block body %}
<form action="adm_edit_media_provider_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table border="1">
    <tr>
      <td>PROVIDER NAME</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>CITY</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><select name="select" id="select">
      </select></td>
    </tr>
    <tr>
      <td>PINCODE</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>EMAILID</td>
      <td><input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <td>PHONE NUMBER</td>
      <td><input type="text" name="textfield6" id="textfield6" /></td>
    </tr>
    <tr>
      <td>IMAGE</td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td>MEDIA TYPE</td>
      <td><select name="select2" id="select2">
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="EDIT" /></td>
    </tr>
  </table>
</form>
{% endblock %}
