{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/adm_edit_service_area_post/">
 <table  border="0" align="center">
    <tr>
      <td>AREA NAME</td>
      <td><input type="text" name="textfield" id="textfield"  value="{{ res.area_name }}"/></td>
    </tr>
    <tr>
      <td>LOCALITY</td>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ res.area_locality }}" /></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><select name="select" id="select">
           <option value="Kozhokide">Kozhokide</option>
          <option value="Eranakulam">Eranakulam</option>
          <option value="Kollam">Kollam</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="EDIT" /></td>
    </tr>
  </table>
</form>
{% endblock %}
