{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="adm_edit_media_type_post/">
<table  border="1">
    <tr>
      <td>MEDIA TYPE NAME</td>
      <td><select name="select" id="select">
      </select></td>
    </tr>
    <tr>
      <td>DESCRIPTION</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="EDIT" /></td>
    </tr>
  </table>
</form>
{% endblock %}
