{% extends "admin/index.html" %}
{% block body %}
    <h1 data-aos="fade-up" data-aos-delay="300" id="lgg">Login here!</h1>
<form id="form1" name="form1" method="post" action="/myapp/adm_login_post/">
  <table class="table table-hover" style="width:25%;height: 75%" >
    <tr>
      <td width="25dp">USERNAME</td>
      <td size="30dp"><input type="email" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><input type="password" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="LOGIN" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
{% endblock %}

