
    <h2 align="center">LOGIN</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_login_post/">
  <table width="200" border="0" align="center">
    <tr>
      <td>USERNAME</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="LOGIN" /></td>
    </tr>
  </table>
</form>

