{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><input type="text" name="textfield" id="textfield" /></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" /></td>
      <td><select name="select" id="select">
      </select></td>
      <td><input type="submit" name="button2" id="button2" value="GO" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table border="1">
    <tr>
      <td>SNO</td>
      <td>PROFILE NAME</td>
      <td>MEDIA TYPE NAME</td>
      <td>PROVIDER NAME</td>
      <td>CHARGE</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="/myapp/adm_edit_charge_profile/">EDIT</a></td>
      <td><a href="#">DELETE</a></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
