{% extends "admin/admin_index.html" %}
{% block body %}
<h2 align="center">VIEW MONTHLY SETTLEMENT ENTRY</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_monthly_settlement_post/">
  <table class="table table-hover">
    <tr>
        <th width="134"><label>DATE FROM</label></th>
        <td><input type="date" name="fdate" id="fromdate" value="{{ d1 }}" class="form-control"/></td>
        <th width="82"><label>TO</label>&nbsp;</th>
        <td><input type="date" name="tdate" id="todate" value="{{ d2 }}" class="form-control"/></td>
        <td width="63"><input type="submit" name="button" id="button" value="GO" class="btn btn-primary"/></td>
{#        <td width="152"><input type="text" name="textfield" id="textfield" class="form-control" placeholder="Provider name"/></td>#}
{#        <td> <input type="submit" name="button" id="button2" value="SEARCH" class="btn btn-primary"/></td>#}
    </tr>
  </table>
  <table class="table table-hover" style="width: 1000px" align="center">
    <tr>
      <th>SNO</th>
      <th>IMAGE</th>
      <th>MEDIA TYPE</th>
      <th>PROVIDER NAME</th>
      <th>YEAR</th>
      <th>MONTH</th>
      <th>DATE</th>
      <th>AMOUNT</th>
    </tr>
      {% for i in res %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.MEDIAPROVIDER.image }}" alt="img" height="100" width="100"/></td>
      <td>&nbsp;{{ i.MEDIAPROVIDER.MEDIATYPE.media_type_name }}</td>
      <td>&nbsp;{{ i.MEDIAPROVIDER.provider_name }}</td>
      <td>{{ i.year }}</td>
      <td>&nbsp;{{ i.month }}</td>
      <td>{{ i.date | date:'d-m-Y'}}</td>
      <td>&nbsp;{{ i.amount }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

     <script>

        var today = new Date();
var current_date = today.getDate();
var current_month = today.getMonth()+1; //Month starts from 0
var current_year = today.getFullYear();
 if(current_date < 10){
        current_date='0'+current_date
    }
    if(current_month < 10){
        current_month='0'+current_month
    }
var im=current_year+"-"+current_month+"-"+current_date;
document.getElementById("todate").setAttribute("max", im);
document.getElementById("fromdate").setAttribute("max", im);
</script>
{% endblock %}