{% extends "admin/blank.html" %}
{% block body %}
<h2 align="center">VIEW MONTHLY SETTLEMENT ENTRY</h2>
<form id="form1" name="form1" method="post" action="">
  <table width="533" border="0" align="center">
    <tr>
        <th width="134"><label>DATE FROM</label></th>
        <td><input type="date" name="date"/></td>
        <th width="82"><label>TO</label>&nbsp;</th>
      <td><input type="date" name="date2"/></td>
      <td width="63"><input type="submit" name="button" id="button" value="GO" /></td>
      <td width="152"><input type="text" name="textfield" id="textfield" /></td>
     <td> <input type="submit" name="button2" id="button2" value="SEARCH" /></td>
    </tr>
  </table>
  <table width="794" height="63" border="1" align="center">
    <tr>
      <th width="34">SNO</th>
      <th width="64">IMAGE</th>
      <th width="142">MEDIA TYPE</th>
      <th width="138">PROVIDER NAME</th>
      <th width="71">YEAR</th>
      <th width="90">MONTH</th>
      <th width="77">DATE</th>
      <th width="126">AMOUNT</th>
    </tr>
      {% for i in res %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.MEDIAPROVIDER.image }}" alt="img" height="100" width="100"/></td>
      <td>&nbsp;{{ i.MEDIAPROVIDER.MEDIATYPE.media_type_name }}</td>
      <td>&nbsp;{{ i.MEDIAPROVIDER.provider_name }}</td>
      <td>{{ i.year }}</td>
      <td>&nbsp;{{ i.month }}</td>
      <td>{{ i.date }}</td>
      <td>&nbsp;{{ i.amount }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}