{% extends "admin/blank.html" %}
{% block body %}
<h2 align="center">VIEW STAFF</h2>
<form id="form1" name="form1" method="post" action="/myapp/adm_view_staff_post/">
  <table class="table table-hover">
    <tr>
      <th>STAFF TYPE</th>
      <th><select name="select" id="select" class="form-control">
          <option value="Designer">Designer</option>
          <option value="Service Employee">Service Employee</option>
      </select></th>
      <td><input type="submit" name="button" id="button" value="SEARCH" class="btn btn-primary"/></td>
      <th><input type="text" name="textfield" id="textfield" placeholder="SEARCH BY NAME" class="form-control"/></th>
      <td><input type="submit" name="button" id="button2" value="GO" class="btn btn-primary"/></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table  class="table table-bordered" style="width: 1000px" align="center">
    <tr class="text-nowrap">
      <th>SNO</th>
      <th>IMAGE</th>
      <th>NAME</th>
      <th>GENDER</th>
      <th>DOD</th>
      <th>ADDRESS</th>
      <th>EMAILID</th>
      <th>PHONE NUMBER</th>
      <th>STAFF TYPE</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in res1 %}
      
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><img src="{{ i.image }}" alt="img" height="100" width="100"/>&nbsp;</td>
      <td>&nbsp;{{ i.name }}</td>
      <td>{{ i.gender }}</td>
      <td>&nbsp;{{ i.dob }}</td>
      <td>&nbsp;{{ i.houseno_name }}<br>{{ i.district }}<br/><br>{{ i.pincode }}<br/></td>
        <td>&nbsp;{{ i.email }}</td>
      <td>{{ i.phno }}</td>
      <td>&nbsp;{{ i.LOGIN.utype}}</td>
      <td><a href="/myapp/adm_edit_staff/{{ i.pk }}" class="btn btn-danger" style="background-color: #d58512">EDIT</a></td>
      <td><a href="/myapp/adm_view_staff_del/{{ i.pk }}" class="btn btn-danger">DELETE</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
